name: Build all SQL images
on:
  schedule:
    # First day of every month at 8 am CST
    - cron: '0 14 1 * *'

jobs:
  build_matrix:
    strategy:
      matrix:
        build_target:
          - 2017
          - 2019
          - 2022
    uses: thirdgen88/mssql-docker/.github/workflows/build.yml@master
    with:
      build_target: ${{ matrix.build_target }}
    secrets:
      dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
      dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}