name: Build all SQL images
on:
  schedule:
    # First day of every month at 8 am CST
    - cron: '0 14 1 * *'
  workflow_dispatch:

jobs:
  build_all:
    uses: thirdgen88/mssql-docker/.github/workflows/build.yml@main
    with:
      build_target: mssql
    secrets:
      dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
      dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}